@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans&family=Raleway:wght@500&family=Young+Serif&display=swap');


body {
    font-family: 'Playpen Sans', cursive;
    background-color: rgb(255, 255, 255);
    margin: 0;
    
}

hr {
    margin: 0 15%;
    text-align: center;
}

.introduccion {
    margin: 0;
    background: linear-gradient(0deg, white 40%, #a5a5a59b 90%) ;
    text-align: center;

   }
.navbar { 
    background-color: rgba(255, 255, 255, 0.897);
    width: 100%;
    box-shadow: 0 0 15px;
    overflow: auto;
    position: sticky;
    top: 0px;
    z-index: 1;
}

.navbar a {
    float: left;
    padding: 15px;
    color: rgb(71, 71, 71);
    text-decoration: none;
    font-size: x-large;
    transition: text-shadow 0.5s ease;
}
.navbar a:hover:not(.active) {
/*     background-color: rgb(223, 71, 71); */
    cursor: pointer;
/*     box-shadow: 0 0 20px black; */
text-shadow: 0 0 13px rgb(0, 0, 0);
color: rgb(39, 141, 251);
}
.active {
    background-color: cornflowerblue;
}

i {
    padding-right: 5px;

}
/* .search img {
   display: flex;
} */
.responsive {
    display: none;
    
}

.responsive2 {
    display: none;
}

/* .responsive-absolute {
    display: none;        /*Verificar
    width: 300px;
    height: 300px;
    background-color: #c91414;
} */

@media (max-width:600px) {
    .responsive {
        display: block;
        float: right;
        padding: 20px;
    }
 /*    .responsive-absolute {  /*Verificar
        display: block;     
    } */
    .responsive2 {
        display: block;
        padding: 10px 15px;
    }
    span {
        padding: 15px;
        position: relative;
        bottom: 10px;
    }
    a, .icon-ajuste {
        display: none;
    }  
    .introduccion {
        background: linear-gradient(0deg, white 0%, #a5a5a5 70%) ;
        text-align: center;
       }
       h1 {
        margin: 0 15%;
        padding-top: 20px;
        }
        
        .footer p{
            padding: 10%;
            font-size: 30px;
        }
       }


.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 300px;
    background-color: #00439C;
    box-shadow: 0 0 10px 1px rgb(0, 0, 0);
    color: white;
    text-shadow: 0 0 15px;
    font-size: 50px;
}

.icon-ajuste { 
    display: inline-flex;
    margin-top: 15px;  
    transition: box-shadow 1s ease;
    border-radius: 20px;
}
.icon-ajuste:hover {
    cursor: pointer;
    box-shadow: 0 0 15px rgb(0, 0, 0);
  
}