body {
    margin: 0;

}
h1 {
    margin: 0 15%;
    padding: 20px;
    font-size: 4em;
    text-align: center;
}

h2 {
    margin: 0 10%;
    font-size: 3.5em;
    text-align: center;
    padding: 5px;
}

.gridContainer-galeria {
    margin: 2% 2%;
    padding: 20px;
    display: grid;
    grid-template-columns: 18% 18% 18% 18% 18%;
    justify-content: center;
    gap: 30px;
   
/*   border-radius: 15px;
    background-color: #00449cbf; /*#1e1e91*/ 
}


.gridContainer-galeria div {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 1px black;
    border-radius: 15px;
    padding: 7px;
    background-color: rgb(255, 255, 255);
    box-shadow: 17px 17px 10px 1px rgb(90, 83, 83);
    margin-bottom: 40px;
    font-size: x-large;
    transition: box-shadow 0.5s ease;
    
   
}

.gridContainer-galeria div:hover {
    box-shadow: 0 0 10px 10px #00439C;
    cursor: pointer;
      
}

.image-galeria {
    width: 100%;
    height: 100%;
    
}

.gridContainer-galeria2{
    margin: 2% 2%;
    padding: 20px;
    display: grid;
    grid-template-columns: 15% 15% 15% 15% 15% 15%;
    justify-content: center;
    gap: 30px;

      /*   border-radius: 15px; */
  /*   background-color: #00449cbf;  */
}

.gridContainer-galeria2 div {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgb(200, 200, 200);
    border-radius: 15px;
    padding: 7px;
    background-color: rgb(255, 255, 255);
    box-shadow: 17px 17px 10px 1px rgb(90, 83, 83);
    margin-bottom: 40px;
    text-align: center;
    transition: box-shadow 0.5s ease;
   
}

.gridContainer-galeria2 div:hover {
    box-shadow: 0 0 10px 10px  #00439C;
    cursor: pointer;
      
}

@media (max-width: 600px) {
    .navbar.media {
        background-color: #00449cf5 ;
        color: white;
    }
    .gridContainer-galeria {
        grid-template-columns: 48% 48%;    
        gap: 20px;
        margin-bottom: 40px;
        transition: box-shadow 0.5s ease;
    }
    .gridContainer-galeria div {
        box-shadow: 10px 10px 15px 2px rgb(0, 0, 0);   
    }
    .gridContainer-galeria div:hover {
        box-shadow: 0 0 10px 5px #00439C;
        cursor: pointer;   
    }    

    .gridContainer-galeria2 div {
        box-shadow: 10px 10px 15px 2px rgb(0, 0, 0);  
    }
    .gridContainer-galeria2 {
        grid-template-columns: 30% 30% 30%;    
        box-shadow: 0 0 10px 1px rgb(255, 255, 255);   /*verificar*/
        gap: 20px;
        margin-bottom: 40px;
        transition: box-shadow 0.5s ease;
    }
    .gridContainer-galeria2 div:hover {
        box-shadow: 0 0 10px 5px #00439C;
        cursor: pointer;   
    }   
    
    p {
        font-size: small;
        margin: 0;
    }
}

