h1 {
    margin: 0 10%;
    font-size: 4em;
    text-align: center;
}

h2 {
    text-align: center;
}

.introduccion p {
    font-size: x-large;
    text-align: center;
}

.grid-image{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    gap: 50px;
    max-width: 1700px;
    margin: 5% auto;
     
    justify-content: center;
}


.grid-image div:not(.icon-sony,.icon-sony2) {
    font-family: 'Playpen Sans', cursive;
    font-size: 1.5em;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
    padding: 15px;
    text-align: center;
    box-shadow: 0 0 10px 1px rgb(0, 0, 0);
    min-height: 200px;
   color: rgb(0, 0, 0);
}
@media screen and (max-width:1768px) {
    .grid-image{
        display: grid;
        grid-template-columns: 50%; 
        margin: 5% 15%;
        gap: 50px;
        justify-items: center;
        justify-content: center;
    
    }
    .grid-image div:not(.icon-sony) {
        display: none;

    }

}

.imagen-personalizada {
    width: 100%;
    height: 100%;
}

.temas {
    margin: 0 15%;
    padding: 15px;
    text-align: center;
    font-size: xx-large;
}

.container-enlaces  {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 40px;

  
}

button {
    /* background-image: url(../assets/img/GAMES/12-126077_horizon-zero-dawn-game-wallpaper-hd-horizon-zero-1.jpg) ; */
    padding: 15px;
    border: none;
    border-radius: 8px;
    font-size: 50px;
    cursor: pointer;
    background-color: #00439C;
    color: white;
    font-family: monospace;
    opacity: 0.9;
    transition: opacity 0.4s ease;
}

button:hover {
    opacity: 1; 
}

a {
    text-decoration: none;
}


button a {
    color: white;
}

.style-a {
    color: red;
    opacity: 0.4;
    transition: opacity 0.4s ease;
}
.style-a:hover {
    color: red;
    opacity: 1;
}

.icons-p {
    font-size: 60px;
}

@media screen and (max-width: 600px) {
    .navbar {
        height: 70px;
    }
}